{%  extends "Learner/base.html" %}
{%block content%}
    <h1> About Precision Learning</h1>

    <h7>Something about PPG's goal</h7>

    <div style="width: 600px; height: 650px;">    

        <div style="position: absolute; bottom: 5px">
            <h3>Members</h3>
            <br><h7>Aashi Mendpara</h7></br>
            <h7>Christal Oji</h7>
            <br><h7>Clara Moore</h7></br>
            <h7>Folahan koleosho</h7>
            <br><h7>Kenny Chung</h7></br>
            <h7>Luke Long</h7>
            <br><h7>Maryam Amosu</h7></br>
            <h7>Travis Latchman</h7>
            <br><h7>Tori Rose</h7></br>
            <h7>Rachel Brodsky</h7>
        </div>
    </div>

{%endblock content%}


